/*
.*

!.git*
!/.editorconfig
!/README.md

!/dashboard/
/dashboard/*
!/dashboard/**/
!/dashboard/deploy.sh
!/dashboard/index.html
!/dashboard/package*.json
!/dashboard/tsconfig.json
!/dashboard/vite.config.ts
/dashboard/node_modules/
/dashboard/dist/

!/supabase/
/supabase/*
!/supabase/config.toml
!/supabase/**/
/supabase/.temp
